@page "/okay"
@{
        Layout = null;
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Okay</title>
    </head>
    <body>
        Okey.
    </body>
</html>